{% extends 'bases/base.html' %}
{% load static %}

{% block lab1 %}
    <script src="{% static 'dashboard/js/home.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

    <link rel="stylesheet" href="{% static 'geral/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/lab1.css' %}">
    


    


    <div class="display_temp">
        <div id="tela_video">   
            <div class="video1">
                <iframe width="602" height="360" src="https://www.youtube.com/embed/jfKfPfyJRdk?autoplay=1&controls=0&mute=1" title="lofi hip hop radio 📚 - beats to relax/study to" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
            </div>
        </div>
        <div class="temperatura">
            <h2 id="temp_atual"></h2>
        </div>
        <div id="grafico_1">
            <canvas id="temp_grafic" width="602" height="360"></canvas>
        </div>
    </div>
    

    <script>
        
        setInterval(function() {
            valor_temp("{% url 'valor_temp' %}");
        }, 1000); // 1000 milissegundos = 1 segundo
        
        renderizar_temperatura("{% url 'ler_temperatura' %}");
        
    </script>
    
 

{% endblock %}